:root {
  --custom-gray: rgb(165, 165, 165);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #000000;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

@font-face {
  font-family: "Circular";
  src: url("./fonts/CircularStd-Medium.otf");
  font-weight: 400;
}
