:root {
  --custom-gray: rgb(165, 165, 165);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #000000;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

@font-face {
  font-family: "Circular";
  src: url("./fonts/CircularStd-Medium.otf");
  font-weight: 400;
}

.side_header {
  width: 280px;
  height: 100%;
  background-color: #121212;
  padding: 30px;
  cursor: grab;

  & .top_wrap a {
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-family: "Circular";

    & p {
      margin-left: 5px;
    }
  }

  & .gnb {
    margin-top: 10px;
    color: var(--custom-gray);

    & li {
      line-height: 40px;
      display: flex;
      align-items: center;
      justify-content: left;
      gap: 20px;
      transition: 0.3s;
      cursor: pointer;

      & i {
        font-size: 24px;
      }

      & p {
        font-size: 16px;
        font-family: "Circular";
        margin-top: 5px;
        font-weight: bold;
      }
    }

    & li:hover {
      color: white;
    }

    & li:hover p {
      text-decoration: underline;
    }

    & li.active {
      color: white;
    }
  }

  & li.active i {
    color: white;
  }

  & i {
    font-size: 24px;
  }

  & li p {
    font-family: "Circular";
    letter-spacing: -0.8px;
  }
}

.library_wrap {
  margin-top: 30px;
  width: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.library_wrap .title {
  color: var(--custom-gray);
  display: flex;
  justify-content: space-between;
  align-self: flex-start;

  & .right {
    & i {
      font-size: 18px;
      color: var(--custom-gray);
    }
  }
}

.library_wrap .title .left {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 150px;
  cursor: pointer;

  & p {
    font-size: 16px;
    color: var(--custom-gray);
    font-family: "Circular";
    font-weight: bold;
    transition: 0.3s;
  }

  & .icon {
    & span {
      position: absolute;
      top: 0;
      background-color: var(--custom-gray);
      width: 2px;
      height: 20px;
      transition: 0.3s;
    }

    & span:nth-child(1) {
      left: 0;
    }

    & span:nth-child(2) {
      left: 5px;
    }

    & span:nth-child(3) {
      left: 10px;
      width: 10px;
    }
  }
}

.library_wrap .title .left:hover .icon span {
  background-color: white;
}

.library_wrap .title .left:hover p {
  color: white;
}

.library_wrap .title .right i {
  cursor: pointer;
  transition: 0.3s;
}

.library_wrap .title .right:hover i {
  color: white;
}

.library_wrap article {
  overflow-y: scroll;
  width: 290px;
  height: 200px;
}

.library_wrap article::-webkit-scrollbar {
  width: 3px;
  background-color: black;
}

.library_wrap article section {
  border-radius: 15px;
  background-color: #242424;
  width: 250px;
  height: 180px;
  padding: 15px;
  margin: 20px auto 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.library_wrap article section .header {
  color: white;
  font-family: "Circular";
  font-weight: bold;
  font-size: 16px;
}

.library_wrap article section .sub {
  color: white;
  font-size: 14px;
}

.library_wrap article section button {
  font-family: "Circular";
  background-color: white;
  padding: 10px;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  line-height: 10px;
  width: 150px;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  color: var(--custom-gray);
  font-size: 10px;
  gap: 0px 40px;
  margin-top: 30px;

  & li {
    line-height: 30px;
    font-weight: bold;
  }
}

.side_header .header_footer div {
  border: 1px solid var(--custom-gray);
  border-radius: 30px;
  width: 100px;
  height: 30px;
  color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  margin-top: 50px;

  & i {
    font-size: 14px !important;
  }
}

.bottom_footer {
  width: calc(100% - 10px);
  height: 80px;
  position: absolute;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background: rgb(174, 42, 151);
  background: linear-gradient(
    90deg,
    rgba(174, 42, 151, 1) 0%,
    rgba(81, 154, 243, 1) 100%
  );
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom_left {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Circular";
}

.bottom_left p:first-child {
  font-weight: bold;
}

.bottom_right button {
  color: black;
  padding: 10px;
  border: none;
  border-radius: 30px;
  background-color: white;
  font-weight: 600;
  font-family: "Circular";
  width: 200px;
  line-height: 30px;
  font-size: 16px;
}

.header_footer ul li {
  cursor: pointer;
}

main header {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 280px);
  height: 90px;
  background: #101010;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

main header div {
  display: flex;
  align-items: center;
}

.mh_left {
  width: 300px;
  height: 100%;
  display: flex;
}

.circle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: rgb(9, 9, 9);
  color: var(--custom-gray);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mh_right {
  display: flex;
}

.join {
  background-color: inherit;
  border: none;
  color: var(--custom-gray);
  font-size: 16px;
  font-family: "Circular";
  font-weight: bold;
  margin: 20px;
}

.login {
  background-color: white;
  font-size: 16px;
  font-family: "Circular";
  font-weight: bold;
  line-height: 40px;
  border-radius: 30px;
  padding: 5px 30px;
}
